* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #151e38;
    color: white;
}

.title-name {
    text-align: center;
    color: white;
    font-weight: 700;
    margin-top: 20px;
}

.icon i {
    font-size: 30px;
    cursor: pointer;
}

.judul {
    cursor: pointer;
    padding: 0px 7px;
    height: 65px;
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 40px;
    text-align: center;
    background-color: #243461;
}
.judul2{
   padding: 10px;
   transition: 0.1s all ease-in-out;

}

.active {
    padding: 10px;
    border-radius: 25px;
    background-color: #3b56a3;
}

.judul2:hover{
    padding: 10px;
    border-radius: 25px;
    background-color: #3b56a3;
}

.title {
    color: #486bcf;
}

.content {
    cursor: pointer;
    transition: 0.2s all ease-in-out;
    border-radius: 25px;
}

.content:hover{
    border-radius: 25px;
    padding: 8px 0px;
    background-color: #3b56a3;
}

.card {
    height: 400px;
    width: 100%;
    background-color: #243461;
    border-radius: 10px;
}
.gambar-porto {
    border-radius: 10px;

}
.card-body a {
    padding: 8px;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
}
.card-body a:hover {
    border-radius: 10px;
    padding: 8px;
    background-color: #3b56a3;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
}


/* @media screen and (max-width: 768px) {
    .profile-kiri{
        align-items: center;
        display: flex;
        justify-content: center;
        text-align: center;
    }
  } */